<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Категории услуг - photolab</title>
</head>
<head th:insert="blocks/head :: head"></head>
<body style="background: rgb(222,101,244);">
<div th:insert="blocks/nav :: nav"></div>
<main class="page projects-page mt-5">
    <section class="portfolio-block projects-with-sidebar">
        <div class="container">
            <div class="heading">
                <h2>Виды услуг</h2>
            </div>
            <div class="row">
                <div class="col-12" align="justify"><p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. A ab asperiores atque autem commodi dolorem eum ex expedita in ipsam maxime minus odio
                    officia, perferendis quas quod repudiandae sed veniam!</p></div>
                <div class="col-12" align="center">
                    <iframe width="75%" height="550" src="https://www.youtube.com/embed/VAqYQiklLvg"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>
                <div class="col-12" align="justify"><p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Accusamus aut dicta distinctio doloribus ducimus eius, harum incidunt laborum, magni neque
                    odit officia omnis pariatur perferendis qui soluta unde voluptatibus. Iste.</p></div>
            </div>
        </div>
    </section>
</main>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>