<nav th:fragment="nav" class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient"
     style="background: linear-gradient(90deg, rgb(105,244,119), #00b2ff);">
    <div class="container"><a class="navbar-brand logo" href="/">Photolab</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Услуги фотолаборатории</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">О нас</a></li>
                <li th:if="${role == 'ADMIN'}" class="nav-item"><a class="nav-link" href="/category">Виды услуг</a></li>
                <li th:if="${role == 'MASTER'}" class="nav-item"><a class="nav-link" href="/master">Мой профиль</a></li>
                <li th:if="${role != 'NOT'}" class="nav-item"><a class="nav-link" href="/masters">Дизайнеры</a></li>
                <li th:if="${role == 'MASTER' or role == 'CLIENT'}" class="nav-item"><a class="nav-link" href="/notes/my">Оформленные заказы</a></li>
                <li th:if="${role == 'MASTER'}" class="nav-item"><a class="nav-link" href="/notes/add">Добавить услугу</a></li>
                <li th:if="${role == 'ADMIN'}" class="nav-item"><a class="nav-link" href="/stats">Мониторинг</a></li>
                <li th:if="${role == 'ADMIN'}" class="nav-item"><a class="nav-link" href="/users">Пользователи</a></li>
                <li th:if="${role == 'NOT'}" class="nav-item"><a class="nav-link" href="/login">Авторизация</a></li>
                <li th:if="${role == 'NOT'}" class="nav-item"><a class="nav-link" href="/reg">Регистрация</a></li>
                <li th:if="${role != 'NOT'}" class="nav-item">
                    <form action="/logout" method="post">
                        <button class="btn" type="submit" style="color: var(--bs-navbar-color);font-weight: bold;">
                            Выход
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>